/*================================== DEFAULT STYLES  ==================================*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  font-weight: var(--fw-light);
  font-size: var(--fs-normal);
  color: var(--default-text-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--gray-text-color);
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
