/*================================== ABOUT STYLES  ==================================*/

.about {
  width: 100%;
  padding: 50px 0;

  &__mv-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .text-container {
      flex-basis: 50%;
      max-width: 50%;
      padding: 0 12px;

      span {
        color: var(--primary-light-color);
      }

      h2 {
        font-weight: var(--fw-medium);
        font-size: 34px;
        margin: 12px 0;
        letter-spacing: 1.5px;
      }

      p {
        color: var(--default-text-color);
        font-weight: var(--fw-normal);
        line-height: 1.8;
        margin-top: 8px;
        margin-bottom: 0;
      }
    }

    .image-container {
      flex-basis: 50%;
      max-width: 50%;
      padding: 0 12px;

      img {
        max-width: 430px;
        max-height: 430px;
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
}
