/*================================== BUTTON STYLES  ==================================*/
.btn {
  cursor: pointer;
  border: none;
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  border-radius: 12px;
  padding: 8px 25px;
  line-height: 20px;

  &__p-bordered {
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    transition: var(--transition);

    &:hover {
      background: var(--primary-color);
      transform-origin: left;
      color: var(--white-text-color);
    }
  }

  &__s-bordered {
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 3px;
    transition: var(--transition);

    &:hover {
      background: var(--secondary-color);
      transform-origin: left;
      color: var(--white-text-color);
    }
  }

  &--n-rad {
    border-radius: 0;
  }

  &__primary {
    background: var(--primary-color);
    color: var(--white-text-color);
    transition: var(--transition);

    &:hover {
      background: rgba(238, 31, 112, 0.8);
    }
  }

  &__secondary {
    background: var(--secondary-color);
    color: var(--white-text-color);
    transition: var(--transition);

    &:hover {
      background: rgba(38, 47, 86, 0.8);
    }
  }
}
