.footer {
  position: relative;
  background: var(--secondary-color);
  width: 100%;
  color: #fff;
  line-height: 2.3;
  top: 80px;
  padding: 50px 0;

  .flex {
    flex-direction: row;
    gap: 25px;
    margin-bottom: 40px;
  }

  .brand-container {
    flex-basis: 45%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 40px;
      margin: 0;

      & > span {
        color: var(--primary-light-color);
      }
    }

    p {
      font-size: var(--fs-small);
      margin: 0;
    }
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    flex: 1;

    .items {
      margin-right: 15px;
      padding-right: 15px;

      li {
        font-size: var(--fs-normal);
        letter-spacing: -0.3px;
        cursor: pointer;

        & > h3 {
          font-size: 20px;
          cursor: auto;
        }
      }
    }
  }

  &__social {
    display: flex;
    gap: 15px;

    a i {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: var(--primary-color);
      color: var(--white-text-color);
      transition: var(--transition);
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .developer {
    margin-top: 30px;

    p {
      font-size: var(--fs-small);
      color: #e1e1e1;
    }
  }
}
