/*================================== LAYOUT  ==================================*/

.scrollTop {
  position: fixed;
  background: var(--primary-color);
  bottom: -80px;
  right: 60px;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  z-index: 5;
  transition: var(--transition);
  cursor: pointer;
  opacity: 0.7;

  &__icon {
    color: #fff;
  }

  &:hover {
    opacity: 0.8;
  }
}

.show-scrollTop {
  bottom: 80px;
}
