/*================================== LAYOUT  ==================================*/
.main-container {
  position: relative;
  top: 80px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 20px;
}

.section-title {
  font-size: var(--fs-section);
}
